@import '../../index.scss';



.home{
    min-height: 100vh;
    background: url(../../Assets/Image/backgound.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    .title{
        z-index: 5;
        font-weight: 600;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        .btn{
            background-color: $colorRedMaroon;
            font-family: $fontPoppins;
            font-weight: 500;
            color: #fff;
            padding: 5px 20px;
        }
    }
}

.home:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(114, 114, 114, 0.6);
}