@import '../../index.scss';

.product{
    border-bottom: 1px solid black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontSigmar;
    font-size: 50px;
    text-align: center;
}